<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jp.xposedtest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".XposedReceiver">
            <intent-filter>
                <action android:name="com.jp.xposedtest.ACTION_TITLE" />
                <action android:name="com.jp.xposedtest.ACTION_ITEM" />
                <action android:name="com.jp.xposedtest.ACTION_SEARCH_OK" />
                <action android:name="com.jp.xposedtest.ACTION_SEARCH_FAILED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="这是一个Xposed例程" />

        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>